/* SIGN IN KISMI İÇİN CSS KODLARI */


.email-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.login-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}

.register-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.google {
    border: 0
    ;
    width: 25px;
    height: 25px;
    border-radius: 0;
    padding-top: 20px;
    padding-right: 10px;
}  

.main-container{
    margin: auto;  
    display:inline-flex;
    text-align: center;
     justify-content: 'center';
      height: '100vh';
      align-items: 'center';
      flex-direction: 'column';
}

.main{
    margin-top: 250px;
    display: flex;
    justify-content: 'center';
    align-items: 'center';


}